@font-face {
    font-family: 'fa';
    font-weight: 900;
    src: url('./fonts/fa-solid.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.overlap-grid {
    display: grid;
    overflow: hidden;

    > * {
        width: 100%;
        height: inherit;
        grid-area: 1 / 1;
        z-index: 1;
    }
}